body{font-family: 'Balsamiq Sans', cursive; background-color: #f5f6fa;}
.col { border-radius: 0px;}


/**** Search.html css***/

/* .foodItems{

    border: none;
    padding: 50px;
}  */


/*******************/